#post-tab-tab-video,
#post-tab-tab-file,
#post-tab-tab-discription {
  padding-top: 0;
  padding-bottom: 0;
}

#all-link {
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  background-color: #3b5998;
}
